@font-face {
    font-family: "Linotte";
    src: url("../fonts/Linotte Semi Bold.otf");
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

section h2::after {
    display: flex;
    border: 1px solid #333;
    content: "";
    margin: 1rem auto 0 auto;
    width: 5rem;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5, h6 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:focus {
    box-shadow: none !important;
}

#backToTopBtn {
    position: fixed;
    left: 50%;
    bottom: 1.1rem;
    z-index: 200;
}

.btn-float {
    position: fixed;
    right: 2.5rem;
    z-index: 200;
    border: 1px solid;
    border-radius: 50%;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.btn-mensaje {
    bottom: 2.3rem;
    background-color: #25D366;
    color: #FFF;
}

.btn-mensaje .bi.bi-whatsapp {
    font-size: 1.5rem;
}

.btn-secondary {
    background-color: #12B2E2;
    opacity: 0.9;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: #0D91B9;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    bottom: 50%;
    width: 10%;
    cursor: pointer;
}

.bi-2x {
    font-size: 2rem;
    line-height: 0.75rem;
}

/* Navbar */

#listMenu {
    font-weight: bold;
}

.logo {
    font-family: "Linotte", sans-serif;
    text-decoration: none;
    font-size: 2rem;
}

.logo:hover {
    text-decoration: none;
}

.bg-custom {
    background-color: #12B2E2 !important;
    opacity: 0.9;
}

/* Home */

#home img {
    object-fit: cover;
}

#home h1 {
    position: relative;
    animation: caption-animated 1s;
}

@keyframes caption-animated {
    0% { top: 100%; }
    100% { top: 0; }
}

.caption-1 {
    top: 40%;
}

.caption-2 {
    top: 40%;
}

/* About */

#about p {
    text-align: justify;
}

#about img {
    border: 3px double;
}

.rounded-about {
    border-radius: 3rem;
}

/* Services */

#services {
    background-image: linear-gradient(#12B2E2, #E9E9E9);
}

#services img:hover {
    opacity: 0.8;
}

#services .card-text {
    text-align: justify;
}

@media (1200px <= width < 1400px) {
    #services h3 {
        font-size: 1.4rem;
    }

    #services .card-text {
        font-size: 0.8rem;
    }
}

@media (width < 768px) {
    #services img {
        border-bottom-left-radius: 0 !important;
    }
}

/* Contact */

.emails-contact {
    word-wrap: break-word;
}

/* Reviews */

#reviews {
    background-color: #E9E9E9;
}

#reviews i {
    color: #FBBC04;
}

#reviews .review-text {
    font-size: 0.9rem;
    text-align: justify;
    height: 5rem;
}

@media (992px <= width < 1200px) {
    #reviews .review-text {
        height: 3.5rem;
    }
}

@media (768px <= width < 992px) {
    #reviews .review-text {
        height: 4rem;
    }
}

@media (width < 768px) {
    #reviews .review-text {
        height: 3.5rem;
    }
}

/* Footer */

footer {
    background-color: #323232;
    color: #FFF;
}

footer li {
    list-style: none;
}

#ratingStars i {
    color: #FBBC04;
}

.logo-footer {
    height: 11.4rem;
}

.link-footer a {
    color: #47A0FF;
}

.link-footer a:hover {
    color: #0A81FF;
}

.bi-instagram {
    color: #47A0FF;
}

.bi-instagram:hover {
    color: #0A81FF;
}
